.bod {
	background: url(img/b6.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Raleway',sans-serif;
}
hr {
	height: 2px;
	width: 180px;
	text-align: center;
	position: relative;
	background: #8eb640;
	margin: 0;
	margin-bottom: 40px;
	border: 0;
}
.hr1 {
	width: 100%;
	text-align: center;
	position: relative;
	background: none;
	margin: 0;
	margin-bottom: 40px;
	border-color: powderblue;
	border:dotted;
}
.hr2 {
	height: 2px;
	width: 100%;
	text-align: center;
	position: relative;
	background: #8eb640;
	margin: 0;
	margin-bottom: 40px;
	border: 0;
}
.logbox {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-30%);
	width: 80%;
	box-sizing: border-box;
	background: rgba(0,0,0,0.6);
	border-radius: 2% 5%;
}
.user {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
}
input[type=Email], input[type=password], input[type=text] {
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left:10%;
    height: 40px;
}
input[type=submit], button {
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left:10%;
    height: 40px;
}
p {
	color:white;
}

.h21 {
  color: yellow;
  font-weight: bold;
  text-align: center;
}
input[type=submit]:hover,button:hover {
    background-color: #45a049;
}